.align-loader {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.MuiCircularProgress-colorPrimary {
  color: #fff !important;
  margin: auto !important;
}
